.hero {

  &__top {
    margin-bottom: var(--lg);
  }

  &__title {
    grid-column: 6 span;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    line-height: 120%;
    color: var(--dark);
  }

  &__descr {
    margin: 0;
    grid-column: 4 span;
    padding-top: 24px;
    font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark);
  }

  &__image {}
}

.container {}

.grid {}
